@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Regular.ttf') format('opentype');
}
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Bold.ttf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: AnonymousPro;
  src: url('fonts/AnonymousPro-Italic.ttf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Regular.ttf') format('opentype');
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Bold.ttf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Light.ttf') format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Medium.ttf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-SemiBold.ttf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: Slabo;
  src: url('fonts/Slabo13px-Regular.ttf') format('opentype');
}
