/*****************
  Headings
******************/
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  line-height: 2em;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: ceil($font-size * 3);
  line-height: 1.75em;
}
h2 {
  font-size: ceil($font-size * 2.5);
}
h3 {
  font-size: ceil($font-size * 2);
}
h4 {
  font-size: ceil($font-size * 1.5);
}
h5 {
  font-size: ceil($font-size * 1.25);
}
h6 {
  font-size: ceil($font-size * 1.1);
}

hgroup {
  margin: 0px;
  padding: 0px;
}
