@mixin alignCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin textDropShadow($color) {
  text-shadow: 0px 0px 15px $color;
}

@mixin media($media) {
  @if $media == xs {
    @media only screen and (min-width: $screen-xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg) { @content; }
  }
}
