////
/// Margin variables & definitions
/// @group Margin
/// @author Mark Scripter - mscripter@horizontalintegration.com


/// @type Size
$margin-vertical:              30px;

/// @type Size
$margin-vertical--small:       15px;

/// @type Size
$margin-vertical--large:       45px;

/// @type Size
$margin-horizontal:            2.5%;

/// @type Size
$margin-horizontal--small:    1.25%;

/// @type Size
$margin-horizontal--large:     5%;
