doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

    block links
      link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
      link(href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700,900|Bitter:400,400italic,700' rel='stylesheet')
      link(href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet")
      link(href="/css/styles.min.css" rel="stylesheet")
    
    block thirdPartyScripts
      script(async type="text/javascript" src="//cdn.rawgit.com/scottjehl/picturefill/master/dist/picturefill.min.js")
      script(async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

  body
    .svg-store.u-none
      include ../../svg/svg.min.jade

    header.o-wrapper
      svg.logo
        use(xlink:href="#logo")
      block header
    
    block menu

    block content

    footer.o-wrapper
      p footer
    
    block scripts
      script(async type="text/javascript" src="/js/main.min.js")
