doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

    block links
      link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700,900|Bitter:400,400italic,700' rel='stylesheet' type='text/css')
      link(type="text/css" rel="stylesheet" media="all" href="/css/styles.min.css")
    
    block thirdPartyScripts
      script(async type="text/javascript" src="//cdn.rawgit.com/scottjehl/picturefill/master/dist/picturefill.min.js")
      script(async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

  body
    .svg-store
      include ../../svg/svg.min.jade

    <!-- HEADER -->
    header.container
      svg.logo
        use(xlink:href="#logo")
    <!-- /HEADER -->

    <!-- CONTENT -->
    block content
    <!-- /CONTENT -->

    <!-- FOOTER -->
    footer.container
      p footer
    <!-- /FOOTER -->
    
    block scripts
      script(async type="text/javascript" src="/js/main.min.js")
