/*
Borders

Border style classes.

.v-b1            - Base border (vertical & horizontal) | 1px solid var(--light-grey);
.v-b2            - First level border (vertical & horizontal) | 3px solid var(--light-grey);
.v-bv1           - Base border (vertical) | 1px solid var(--light-grey);
.v-bv2           - First level border (vertical) | 3px solid var(--light-grey);
.v-bh1           - Base border (horizontal) | 1px solid var(--light-grey);
.v-bh2           - First level border (horizontal) | 3px solid var(--light-grey);
.v-bl1           - Base border (left) | 1px solid var(--light-grey);
.v-bl2           - First level border (left) | 3px solid var(--light-grey);
.v-br1           - Base border (right) | 1px solid var(--light-grey);
.v-br2           - First level border (right) | 3px solid var(--light-grey);
.v-bt1           - Base border (top) | 1px solid var(--light-grey);
.v-bt2           - First level border (top) | 3px solid var(--light-grey);
.v-bb1           - Base border (bottom) | 1px solid var(--light-grey);
.v-bb2           - First level border (bottom) | 3px solid var(--light-grey);

Markup: div(class="c-swatch #{modifier_class}")

Styleguide: 8.1
*/

.v-b1 {
  border: 1px solid var(--light-grey);
}

.v-b2 {
  border: 3px solid var(--light-grey);
}

.v-bv1 {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.v-bv2 {
  border-top: 3px solid var(--light-grey);
  border-bottom: 3px solid var(--light-grey);
}

.v-bh1 {
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}

.v-bh2 {
  border-left: 3px solid var(--light-grey);
  border-right: 3px solid var(--light-grey);
}

.v-bl1 {
  border-left: 1px solid var(--light-grey);
}

.v-bl2 {
  border-left: 3px solid var(--light-grey);
}

.v-br1 {
  border-right: 1px solid var(--light-grey);
}

.v-br2 {
  border-right: 3px solid var(--light-grey);
}

.v-bt1 {
  border-top: 1px solid var(--light-grey);
}

.v-bt2 {
  border-top: 3px solid var(--light-grey);
}

.v-bb1 {
  border-bottom: 1px solid var(--light-grey);
}

.v-bb2 {
  border-bottom: 3px solid var(--light-grey);
}
