/*
Text

Overriding text styles

.v-text-natural     - A natural style for text.
.v-text-bold        - A bold text.
.v-text-underline   - An underlined text.

Markup: p(class="#{modifier_class}") #{modifier_description}

Styleguide: 8.4
*/
.v-text-natural {
  font-weight: normal !important;
}

.v-text-callout {
  font-weight: normal !important;
  font-size: 0.8em;
  font-style: italic;
}

.v-text-bold {
  font-weight: bold !important;
}

.v-text-underline {
  text-decoration: underline !important;
}
