//-
//- @component: Form
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin form()
  form(data-module="form" data-settings='{}')
    label text
    input(type="text")
    button(type="submit") Submit
