//-
//- @component: Buttons
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin buttons()
  section.item
    h3.heading(id="buttons") Buttons
    .content
      button(type="submit") Submit
