//-
//- @component: Cards
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin cards()
  section.item
    h3.heading(id="cards") Cards
    .line-item
      .content
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
      code.code-name card?
    .line-item
      .content
        .card
          p <a href="#">This is some example text, and a link</a>. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
      code.code-name card?
  section.item
    h3.heading(id="card-collection") Card Collection
    .line-item
      .content
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
        .card
          p This is some example text. Do something else with it but at least it's not that stupid lorem ipsumasldf;askdfj...
      code.code-name card?
