//-
//- @component: Tables
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin table()
  section.item
    h3.heading(id="table") Table
    .line-item
      .content
        h4 Standard Table
        table
          tr
            th First Name
            th Last Name
          tr
            td Mark
            td Scripter
          tr
            td John
            td Smith
    .line-item
      .content
        h4 Table w/ Caption
        table
          caption This is a Table Caption
          tr
            th ID
            th First Name
            th Last Name
            th Phone Number
            th Passed
            th Failed
          tr
            td 090123
            td Mark
            td Scripter
            td 763-763-7633
            td 0
            td 1
          tr
            td 925231
            td John
            td Smith
            td 763-763-7633
            td 1
            td 0
          tr
            td 010242
            td Shelby
            td Smith
            td 763-763-7633
            td 1
            td 0
              
