//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content
  article.container
    section
      h1 Hi
      ul
        li
          a(data-module="modal" data-settings='{"inline": true, "width" : "640px", "height" : "320px"}') 1
          div(style="display:none;")
            section.modal-content
              h1 Hello1
              p World1
        li
          a(data-module="modal" data-settings='{"inline": true, "width" : "640px", "height" : "320px"}') 2
          div(style="display:none;")
            section.modal-content
              h1 Hello2
              p World2
