/*
c-btn

.c-btn Description

Styleguide: 6.2
*/

.c-btn {
  display: inline-block;
  padding: var(--pv-s) var(--pv-s);
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: var(--radius);
  transition: background-color 0.2s;
}

.c-btn:hover,
.c-btn:focus {
  background-color: var(--blue);
  color: var(--white);
}
