.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*****************
  Variables
******************/
@import 'global/vars.scss';

/*****************
  Fonts
******************/
@import 'global/fonts.scss';

/*****************
  Mixins
******************/
@import 'global/mixins.scss';

/*****************
  HTML Elements
******************/
@import 'global/lists.scss';
@import 'global/sectioning.scss';
@import 'global/tables.scss';
@import 'global/text.scss';
@import 'global/form.scss';
@import 'global/headings.scss';

/*****************
  Grid
******************/
@import 'global/grid.scss';

/*****************
  Site Styles
******************/
@import 'site.scss';
