@import "main.scss";

header {
  border-bottom: 1px solid $gray-dark;
}

.component {
  margin: $margin-vertical--large 0px;

  .title {
    color: darken($primary, 15%);
  }
}

.color {
  display: block;
  margin: $margin-vertical--small 0px;
}

.content {
  display: block;
  margin: 0px;
  width: 100%;

  @include media(md) {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    white-space: normal;
  }
}

.code-name {
  background-color: $gray-dark;
  box-sizing:border-box;
  border-radius: 5px;
  color: $white;
  display: block;
  margin: $margin-vertical--small 12.5%;
  padding: 10px 15px;
  text-align: center;
  width: 75%;

  @include media(md) {
    display: inline-block;
    margin: $margin-vertical--small 1%;
    vertical-align: top;
    white-space:normal;
    width: 18%;
  }
}

.heading {
  color: $gray-darker;
  border-bottom: 1px solid $gray-darker;
  width: 105%;
  margin-left: -$margin-horizontal;
  margin-right: $margin-horizontal;
  margin-bottom: $margin-vertical--small;
}

.item {
  margin: $margin-vertical $margin-horizontal $margin-vertical--large;
  padding: 0px 0px;
}

.main {
  width: 100%;
  display: block;
  padding-right: $padding-horizontal--small;

  @include media(md) {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}

.legal {
  float:right;
}

.line-item {
  width: 100%;
  white-space: nowrap;
  display: block;

  p {
    white-space: normal;
  }
}

.navigation {
  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    display: inline;
  }

  a {
    color: $gray-dark;
    padding: 0px $padding-horizontal--small;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      padding-left: 0px;
    }
  }
}

.sidebar {
  display: block;
  width: 100%;

  @include media(md) {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 60px;
    vertical-align: top;
    width: 20%;
    white-space: normal;
  }

  h4 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: $margin-vertical--small 0px 0px;

    li {
      display: block;
      padding: 5px $padding-horizontal;
      margin: 5px 0px 5px -1px;
      border-left: 1px solid darken(rgba($primary, 0), 15%);
      transition: border 0.5s, color 0.5s;

      &:hover {
        border-left: 1px solid darken(rgba($primary, 1), 15%);

        & > a {
          color: darken($primary, 10%);
        }
      }

      &.active {
        // border-left: 1px solid darken($primary, 25%);
        color: darken($primary, 25%);
        margin-left: -1px;

        &:hover {
          color: darken($primary, 10%);
        }

        & > a {
          border-left: 1px solid darken($primary, 25%);
          color: darken($primary, 25%);
          margin-left: -8px;
          padding-left: 8px;

          &:hover {
            color: darken($primary, 10%);
          }
        }
      }

      a {
        text-decoration: none;
        display: block;
        font-size: $font-size--small;
        box-sizing: border-box;
      }

      ul {
        margin-top: 10px;

        li {
          margin: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
          border-left: 0px;

          &:hover {
            border-left: 0px;
            margin-left: 0px;
          }

          a {
            color: darken($primary, 25%);
            font-size: ceil($font-size * 0.75);
          }
        }
      }
    }
  }
}

.swatch {
  box-sizing:border-box;
  border-radius: 5px;
  display:block;
  height: 44px;
  margin: 10px 0px;
  width: 44px;

  @include media(sm) {
    display: inline-block;
    margin: 0px 15px 0px 0px;
    vertical-align: top;
  }

  & + p {
    line-height: 44px;
    margin: 0px;

    @include media(xs) {
      display: inline-block;
      vertical-align: middle;
    }

    &.white,
    &.accent {
      background-color: $black;
    }
  }
}

.title {
  margin: $margin-vertical 0px;
  text-transform: uppercase;
  color: $primary;
}
