/*
Form Elements

Base styles for the form elements.

Styleguide: 4.1
*/

button {
  background-color: var(--grey);
  border: none;
  box-sizing: border-box;
  color: var(--white);
  font-family: var(--sans-serif);
  overflow: visible;
  padding: 13px 0;
  text-transform: uppercase;
  width: 100%;
  outline: none;
}

/*datalist {}*/

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/*form {}*/

input {
  border: 1px solid var(--light-grey);
  border-radius: var(--radius);
  box-sizing: border-box;
  display: block;
  font-family: var(--sans-serif);
  font-size: var(--font-size);
  line-height: 1.25em;
  margin: 15px auto;
  padding: 5px 10px;
  width: 100%;
}

input:focus {
  outline: none;
}

/*input[type='button'] {}*/

input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

/*input[type='color'] {}*/
/*input[type='date'] {}*/
/*input[type='datetime'] {}*/
/*input[type='date-time-local'] {}*/
/*input[type='email'] {}*/
/*input[type='file'] {}*/
/*input[type='hidden'] {}*/
/*input[type='image'] {}*/
/*input[type='month'] {}*/
/*input[type='number'] {}*/
/*input[type='password'] {}*/

input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

/*input[type='range'] {}*/
/*input[type='reset'] {}*/
/*input[type='search'] {}*/
/*input[type='submit'] {}*/
/*input[type='tel'] {}*/
/*input[type='text'] {}*/
/*input[type='time'] {}*/
/*input[type='url'] {}*/
/*input[type='week'] {}*/

/*keygen {}*/

label {
  font-family: var(--sans-serif);
  font-size: var(--font-size);
  color: var(--grey);
  display: block;
  text-transform: uppercase;
}

legend {
  border: 0;
  padding: 0;
}

/*meter {}*/

optgroup {
  font-weight: bold;
}

/*option {}*/
/*output {}*/
/*progress {}*/

textarea {
  overflow: auto;
  padding: var(--pv-s) var(--ph-s);
}

select {
  text-transform: none;
}
