/*
Heading Elements

Base styles for the heading elements.

Markup:
h1 heading-one
.heading-one heading-one
h2 heading-two
.heading-two heading-two
h3 heading-three
.heading-three heading-three
h4 heading-four
.heading-four heading-four
h5 heading-five
.heading-five heading-five
h6 heading-six
.heading-six heading-six

Example: true

Styleguide: 4.2
*/

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--sans-serif);
  font-weight: normal;
  padding: 0;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}

h1,
.heading-one {
  font-size: 2em;
  font-family: RalewayBlack;
}

h2,
.heading-two {
  font-size: 1.5em;
  font-family: RalewayBlack;
}

h3,
.heading-three {
  font-size: 1.25em;
  font-family: RalewayMedium;
}

h4,
.heading-four {
  font-size: 1.125em;
}

h5,
.heading-five {
  font-size: 1em;
}

h6,
.heading-six {
  font-size: 1em;
}

hgroup {
  margin: 0;
  padding: 0;
}
