/*
Media Object

A media object based on stubbornella's: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.o-media           - the parent element for a media object
.o-media__img      - an image wrapper for the media object
.o-media__img img  - the actual image in the media object
.o-media__body     - the main content of the media object

Markup:
.o-media
  .o-media__img
    img(src="" alt="" title="")
  .o-media__body
    p some content

Example: true

Styleguide: 5.3
*/
.o-media {
  display: table;
  width: 100%;
}

.o-media__img {
  padding-right: var(--base-spacing-unit);
}

.o-media__img img {
  display: block;
  max-width: none;
}

.o-media__body {
  width: 100%;
}

.o-media__img,
.o-media__body {
  display: table-cell;
  vertical-align: top;
}
