/*
Wrapper Object

A generic wrapper

.o-wrapper         - A wrapper object

Markup:
article.o-wrapper

Styleguide: 5.4
*/
.o-wrapper {
  width: 95%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ph);
  padding-left: var(--ph);
}
