.modal {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.modal-box {
  background-color: var(--white);
  border: 10px solid #00477d;
  box-sizing: border-box;
  margin: 5vh auto;
  max-width: 640px;
  padding: 20px;
  position: relative;
  width: 90vw;
  z-index: 90;
}

.modal .btn-continue {
  background-image: linear-gradient(0deg, #0070be, #003f75);
  border: 1px solid #003f75;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  margin: 50px auto 75px;
  max-width: 150px;
  padding: 8px 15px;
  text-transform: uppercase;
}

.modal .content {
  background-image: radial-gradient(circle, #fdfdfd 0%, #cbcbcb 100%);
  margin-top: 40px;
  color: #016399;
}

.modal .close {
  background-color: #00477d;
  color: var(--white);
  padding: 4px 8px;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 100;
}

.modal .overlay {
  background-color: rgba(0, 0, 0, .35);
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 80;
}

.modal .text {
  font-size: 18px;
}
