//-
//- @component: Modal
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin modal(data)
  .modal(class=(data.class ? '#{data.class}' : ''))
    .overlay
    .modal-box
      .close
        i.fa.fa-times
      .content
