/*
Clearfix

A clearfix hack. This can be swapped out with any clearfix the project uses.

Markup: div(class="clearfix")

Styleguide: 1.3
*/
.clearfix {
	overflow:hidden;
	_overflow:visible;
	zoom:1;
}
