//-
//- @page: Widgets
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
include components/colorbox.jade
include components/slick.jade

mixin widgets()
  section.component
    h2.title(id="widgets") Widgets
    +colorbox()
    +slick()
