//-
//- @component: Code
//- @group: Styleguide
//- @type:
//- @description:
//- @author: Mark Scripter [mscripter@horizontalintegration.com]
//- @comments:
//-
mixin code()
  section.item
    h3.heading(id="code") Code
    .line-item
      .content
        p By using the 'kbd' element, we can specify what is a keyboard entery.
        p For example: 
          kbd cd ~
    .line-item
      .content
        p By using the 'code' element, we can specify how blocks of code are styled.
        p For example: 
          code import babel from 'babel';
