//-
//- @component: Colors
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin colors()
  section.item
    h3.heading(id="colors") Colors
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-white(title="$white")
          p.white(title="$white") This is what the text looks like with this color.
      code.code-name $white
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-black(title="$black")
          p.black(title="$black") This is what the text looks like with this color.
      code.code-name $black
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray(title="$gray")
          p.gray(title="$gray") This is what the text looks like with this color.
      code.code-name $gray
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray-light(title="$gray-light")
          p.gray-light(title="$gray-light") This is what the text looks like with this color.
      code.code-name $gray-light
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray-lighter(title="$gray-lighter")
          p.gray-lighter(title="$gray-lighter") This is what the text looks like with this color.
      code.code-name $gray-lighter
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray-dark(title="$gray-dark")
          p.gray-dark(title="$gray-dark") This is what the text looks like with this color.
      code.code-name $gray-dark
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray-darker(title="$gray-darker")
          p.gray-darker(title="$gray-darker") This is what the text looks like with this color.
      code.code-name $gray-darker
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-primary(title="$primary")
          p.primary(title="$primary") This is what the text looks like with this color.
      code.code-name $primary
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-secondary(title="$secondary")
          p.secondary(title="$secondary") This is what the text looks like with this color.
      code.code-name $secondary
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-accent(title="$accent")
          p.accent(title="$accent") This is what the text looks like with this color.
      code.code-name $accent
      
