//-
//- @component: Headings
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin headings()
  section.item
    h3.heading(id="headings") Headings

    .line-item
      .content
        h1.heading-one Heading One
      code.code-name h1

    .line-item
      .content
        h2.heading-two Heading Two
      code.code-name h2

    .line-item
      .content
        h3.heading-three Heading Three
      code.code-name h3

    .line-item
      .content
        h4.heading-four Heading Four
      code.code-name h4

    .line-item
      .content
        h5.heading-five Heading Five
      code.code-name h5

    .line-item
      .content
        h6.heading-six Heading Six
      code.code-name h6
