//-
//- @component: Levels
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin levels()
  section.item
    h3.heading(id="levels") Levels
    
    .line-item
      .content
        .level
          .swatch.level.bkgd-white(title="level")
      code.code-name level
    
    .line-item
      .content
        .level
          .swatch.level-1.bkgd-white(title="level-1")
      code.code-name level-1
    
    .line-item
      .content
        .level
          .swatch.level-2.bkgd-white(title="level-2")
      code.code-name level-2
    
    .line-item
      .content
        .level
          .swatch.level-3.bkgd-white(title="level-3")
      code.code-name level-3
    
    .line-item
      .content
        .level
          .swatch.level-4.bkgd-white(title="level-4")
      code.code-name level-4
    
    .line-item
      .content
        .level
          .swatch.level-5.bkgd-white(title="level-5")
      code.code-name level-5
