//-
//- @component: Margin
//- @group: Styleguide
//- @type:
//- @description:
//- @author: Mark Scripter [mscripter@horizontalintegration.com]
//- @comments:
//-
mixin margin()
  section.item
    h3.heading(id="margin") Margin
    .line-item
      .content
        p Margin
