//-
//- @component: Padding
//- @group: Styleguide
//- @type:
//- @description:
//- @author: Mark Scripter [mscripter@horizontalintegration.com]
//- @comments:
//-
mixin padding()
  section.item
    h3.heading(id="padding") Padding
    .line-item
      .content
        p Padding
