//-
//- @component: Typography
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin typography()
  section.item
    h3.heading(id="typography") Typography
    
    .line-item
      .content
        p.serif <strong>Serif:</strong> Noto <br /> This is your '$serif' font. This is a paragraph that shows how your serif font will look.
      code.code-name $serif
    
    .line-item
      .content
        p.sans-serif <strong>Sans-Serif:</strong> Poppins <br /> This is your '$sans-serif' font. This is a paragraph that shows how your sans-serif font will look.
      code.code-name $sans-serif
    
    .line-item
      .content
        p.monospace <strong>Monospace:</strong> AnonymousPro <br /> This is your '$monospace' font. This is a paragraph that shows how your monospace font will look.
      code.code-name $monospace
